@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
body{
	padding: 0;
	margin: 0;
	.App{
		position: relative;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		background: linear-gradient(45deg, #6a2f3b, #39606a);
		font-family: 'Montserrat',
		sans-serif;
		.main-page{
			margin-top: 10em;
			display: grid;
			grid-template: 1fr / 1fr 1fr;
			justify-items: center;
			width: 100%;
		}
		label {
			border-radius: .3em;
		}
		input {
		
			&[type=text],
			&[type=tel],
			&[type=number],
			&[type=password] {
				border: 0;
				padding-left: 1em;
				background-color: transparent;
		
				&:focus-visible {
					outline: transparent;
				}
		
				font-family: 'Montserrat',
				sans-serif;
				color: white;
				&::-webkit-inner-spin-button{
					display: none;
				}
			}
		
			&[type=submit] {
				cursor: pointer;
				border: 0;
				margin-top: .5em;
				padding: .5em 1em;
				font-size: 1rem;
				border-radius: .3em;
				background: #00cbff;
				transition: .2s;
		
				&:hover {
					background: #00ccffb6;
				}
			}
		}

		::-webkit-scrollbar {
			width: 1em;
			background-color: transparent;
			&-thumb{
				background-color: rgba(0, 0, 0, 0.3);;
				border-radius: 9em;
				&:hover{
					background-color: rgba(0, 0, 0, 0.4);
				}
			}
		}

	}
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
}

